# This requirements is for development
# You can: pip install -r requirements.txt

tornado
# Flask
markdown

#Jinja2
#misaka
#pygments

# database
MySQL-python
peewee<2.0.0
#SQLAlchemy

# cache support
#python-memcached

# form support
#-e hg+https://bitbucket.org/simplecodes/wtforms#egg=WTForms

# mail support
# Flask-Mail
# tornadomail

# testing
# nose
