        {% if current_user %}
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <img src="{{ gravatar }}" />        
            <!-- <i class="icon-user"></i>
          -->
            {{ escape(name) }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/user/{{ escape(domain) }}"> <i class="icon-user"></i>
              我的主页
            </a>
            <a href="/setting/account">
              <i class="icon-edit"></i>
              修改资料
            </a>
            <a href="/setting/avatar">
              <i class="icon-adjust"></i>
              换换头像
            </a>
            <a href="/setting/password">
              <i class="icon-lock"></i>
              修改密码
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/share">
              <i class="icon-leaf"></i>
              分享
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/logout?next={{ url_escape(request.uri) }}">
              <i class="icon-off"></i>
              退出
            </a>
          </li>
        </ul>
        </div>
        {% else %}
        <ul class="nav pull-right">
        <li>
          <button class="btn btn-alert btn-small" style="font-weight:bold;" >
            <a href="/joinus?next={{ url_escape(request.uri) }}">
              注册
            </a>
          </button>
        </li>
        <li>
          <button style="font-weight:bold;" class="btn btn-alert  btn-small" >
            <a href="/login?next={{ url_escape(request.uri) }}">
              登录
            </a>
          </button>
        </li>
        </ul>
        {% end %}