{% extends "base.html" %}
{% block titlemore %}
-一个尚未被创建的地方
{% end %}
{% block body %}
<div class="span8">
	<div class="mod user-feeds">
		<h2>
			一个尚未被创建的地方
		</h2>
        <p>
          <a href="/" title="{{_('back_home')}}">
						{{_('back_home')}}
					</a>
		</p>
	</div>


</div>
<div class="span4">

	<div class="mod csser-version">
		<p>
			<a href="/about" title="关于我们的一切">
				关于我们
			</a>
			<a href="/help" title="提建议或咨询">
				提建议或咨询
			</a>
			<a href="/changelog" title="查看升级日志">
				升级日志
			</a>
		</p>
	</div>
</div>
{% end %}
