{% extends "base.html" %}
{% block titlemore %}
-创造和分享美好
{% end %}
{% block body %}
<div class="span8">
	<div class="mod user-feeds">
		<h2>
			最新分享
		</h2>
		<p>
			(创造和分享，仅供学习交流，期待内容少而精)
		</p>
		<ul class="unstyled">
			{% for share in shares %}
			<li>
				<h3> <i class="icon-{{ share.sharetype }}"></i>
					<a href="/share/{{ share.id }}" title="{{ escape(share.title) }}">
						{{ escape(share.title) }}
					</a>
					<span class="bull">
						&bull;
					</span>
					<span>
						<a href="/share/{{ share.id }}#comments">
							{{ share.commentnum }}
						</a>
					</span>
				</h3>
				<p class="user clearfix">
					<a href="/user/{{ share.domain }}" title="{{ share.name }}" class="pull-right">
						<img src="{{ share.gravatar }}" width="25" height="25" alt="{{ share.name }}"/>
					</a>
					<span class="who">
						<a href="/user/{{ share.domain }}" title="{{ share.name }}">
							{{ share.name }}
						</a>
					</span>
					<span data-time='' class="date">
						{{ share.published }}
					</span>
				</p>
				<p class="info">
					{{ escape(share.markdown) }}
				</p>
			</li>
			{% end %}
		</ul>
	</div>
	<div class="pagination">
		<ul>
			{% if int(page)>1 %}
			<li>
				<a href="?page={{int(page)-1}}">
					前一页
				</a>
			</li>
			{% end %}
			<li class="active">
				<a href="#">
					{{page}}
				</a>
			</li>
			{% if int(sharesum)>int(page)   %}
			<li>
				<a href="?page={{int(page)+1}}">
					{{int(page)+1}}
				</a>
			</li>
			{% end %}
{% if int(sharesum)-int(page)-1>0   %}
			<li>
				<a href="?page={{int(page)+2}}">
					{{int(page)+2}}
				</a>
			</li>
			{% end %}
{% if int(sharesum)-int(page)-2>0   %}
			<li>
				<a href="?page={{int(page)+3}}">
					{{int(page)+3}}
				</a>
			</li>
			{% end %}
{% if int(sharesum)>int(page)   %}
			<li>
				<a href="?page={{int(page)+1}}">
					下一页
				</a>
			</li>
			{% end %}
		</ul>
	</div>

</div>
<div class="span4">
	<div class="mod list">
		<h2>
			安问推荐
		</h2>
		<ul>
			<li>
				<a href="#" title=""></a>
			</li>
		</ul>
	</div>
	<div class="mod users-head">
		<h2>
			最近节点
		</h2>

		<div class="node-box">
			<div class="btn-group">
				<a class="node" href="/node/film" >
					<button class="btn btn-info">
						视频
					</button>
				</a>
			</div>
		</div>
	</div>
	<div class="mod users-head">
		<h2>
			会员
		</h2>
		<div class="mod-body">
			{% for member in members %}
			<a href="/user/{{member.user_domain}}" title="{{member.user_name}}">
				<img src="{{member.gravatar}}" width="35" height="35" alt="{{member.user_name}}"/>
			</a>
			{% end %}
		</div>
	</div>

	<div class="mod csser-version">
		<p>
			<a href="/about" title="关于我们的一切">
				关于我们
			</a>
			<a href="/help" title="提建议或咨询">
				提建议或咨询
			</a>
			<a href="/changelog" title="查看升级日志">
				升级日志
			</a>
		</p>
	</div>
</div>
{% end %}