{% extends "base.html" %}
{% block titlemore %}
- {{ node }}
{% end %}
{% block body %}
<div class="span8">
	<div class="mod user-feeds">
		<h2>
			最新分享
		</h2>
		<p>
			(创造和分享，仅供学习交流，只分享打动你的~)
		</p>
		{% if int(page) < 1 %}
		<p>
			本分类暂时还没有文章~
		</p>
		{% end %}
		<ul class="unstyled">
			{% for share in shares %}
			<li>
				<h3> <i class="icon-{{ share.sharetype }}"></i>
					<a href="/share/{{ share.id }}" title="{{ escape(share.title) }}">
						{{ escape(share.title) }}
					</a>
					<span class="bull">
						&bull;
					</span>
					<span>
						<a href="/share/{{ share.id }}#comments">
							{{ share.commentnum }}
						</a>
					</span>
				</h3>
				<p class="user clearfix">
					<a href="/user/{{ share.domain }}" title="{{ share.name }}" class="pull-right">
						<img src="{{ share.gravatar }}" width="25" height="25" alt="{{ share.name }}"/>
					</a>
					<span class="who">
						<a href="/user/{{ share.domain }}" title="{{ share.name }}">
							{{ share.name }}
						</a>
					</span>
					<span data-time='' class="date">
						{{ share.published }}
					</span>
				</p>
				<p class="info">
					{{ escape(share.markdown) }}
				</p>
			</li>
			{% end %}
		</ul>
	</div>

	<div class="pagination">
		<ul>
			{% if int(page)>1 %}
			<li>
				<a href="?page={{int(page)-1}}">
					前一页
				</a>
			</li>
			{% end %}
			{% if int(page)>0 and int(pagesum)>0 %}
			<li class="active">
				<a href="#">
					{{page}}
				</a>
			</li>
			{% end %}
			{% if int(pagesum)>int(page)   %}
			<li>
				<a href="?page={{int(page)+1}}">
					{{int(page)+1}}
				</a>
			</li>
			{% end %}
{% if int(pagesum)-int(page)-1>0   %}
			<li>
				<a href="?page={{int(page)+2}}">
					{{int(page)+2}}
				</a>
			</li>
			{% end %}
{% if int(pagesum)-int(page)-2>0   %}
			<li>
				<a href="?page={{int(page)+3}}">
					{{int(page)+3}}
				</a>
			</li>
			{% end %}
{% if int(pagesum)>int(page)   %}
			<li>
				<a href="?page={{int(page)+1}}">
					下一页
				</a>
			</li>
			{% end %}
		</ul>
	</div>

</div>
<div class="span4">


	<div class="mod users-head">
		<h2>
			{{_('Newest')}}{{_('Member')}}
		</h2>
		<div class="mod-body">
			{% for member in members %}
			<a href="/user/{{member.user_domain}}" title="{{member.user_name}}">
				<img src="{{member.gravatar}}" width="25" height="25" alt="{{member.user_name}}"/>
			</a>
			{% end %}
		</div>
	</div>
</div>
{% end %}


{% block bottom %}
<script type="text/javascript">
  //<![CDATA[

  $(document).ready(function() {
              JudgeActive();
          });
  function JudgeActive() {
    var node = '{{ node if node else "" }}';
    $("ul.nav li[id="+node+"]").addClass('active');

  }

  //]]></script>
{% end %}